/* Write some CSS below */
body{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    background-color: rgb(239, 239, 239);
    margin: auto;
    color: rgb(25, 25, 25);
}

h1,h2{
    font-family: 'Playfair Display', serif;
}


.banner {
    text-align: center;
    color: rgb(251, 249, 201);
    background-color: rgb(25, 25, 25);
    padding: 100px 0px;
}

.container-top {
    width: 1000px;
    margin: auto;
}

.cards-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.container-top img {
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
}

.cards-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.container-bottom {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.card-yellow {
    background-color: rgba(251, 249, 201, 0.5);
    width: 200px;
    text-align: center;
    padding: 24px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(25, 25, 25, 0.1);
}

.card-yellow img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.btn-green{
    background-color: rgba(119, 208, 178,0.5);
    padding: 10px 45px;
    border-radius: 4px;
    margin: 10px;
    color: rgb(25, 25, 25);
    font-size: 14px;
    text-decoration: none;
}
.footer {
    text-align: center;
    color: rgb(251, 249, 201);
    background-color: rgb(25, 25, 25);
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 10px;
}